*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Karla", sans-serif;
}

button{
  font: inherit;
}

:root {
  --cyan: rgb(0, 178, 175);
  --lightcyan: rgb(59, 191, 189);
  --brightYellow: hsl(71, 73%, 54%);
  --lightGray: hsl(204, 43%, 93%);
  --grayishBlue: hsl(218, 22%, 67%);
}
#card {
  max-width: 600px;
  max-height: 350px;
}
.top-section {
  display:block;
  background-color: white;
  width:100%;
  word-wrap: break-word;
  
}
.top-section>h1{
    color:var(--cyan);
}
.top-section>h2{
    color:var(--brightYellow);
}
.top-section>p{
color:var(--grayishBlue);
}

.bottom {
  display:flex;
}
.bot-left {
  display: inline-block;
  background-color: var(--cyan);
  color:white;
  width:50%;
}
.bot-right {
  display: inline-block;
  background-color: var(--lightcyan);
  color:white;
  width:50%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
