*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 1440px;
  height: 800px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Karla", sans-serif;
}

button {
  font: inherit;
}

:root {
  --cyan: rgb(0, 178, 175);
  --lightcyan: rgb(59, 191, 189);
  --brightYellow: hsl(71, 73%, 54%);
  --lightGray: hsl(204, 43%, 93%);
  --grayishBlue: hsl(218, 22%, 67%);
}
#card {
  border: 1px;
  overflow: hidden;
  border-radius: 0.5rem;
  height: 84vh;
  width: 52vw;
}
.top-section {
  width: 100%;
  background-color: white;
  padding: 1rem 3.5rem 3.5rem 2.5rem;
  height: 47%;
}
.top-section > h1 {
  color: var(--cyan);
  margin-top: 0.8rem;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
}
.top-section > h2 {
  color: var(--brightYellow);
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.top-section > p {
  color: var(--grayishBlue);
}
.bottom {
  display: flex;
  flex-wrap: wrap;
}

.bot-left {
  flex: 50%;
  height: 53%;
  background-color: var(--cyan);
  color: white;
  padding: 0 0 2.5rem 2.5rem;
  border-radius: 0 0 0 0.5rem;
}
.bot-left > h2 {
  font-size: 1.3rem;
}
.bot-left > p {
  padding-right: 2.15rem;
}
.price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.permonth {
  opacity: 0.7;
}

.twentynine {
  display: inline-flex;
  font-size: 1.56rem;
}
.permonth {
  color: var(--lightGray);
  display: inline-flex;
  align-content: center;
}
#btn {
  display: block;
  width: 85%;
  background-color: var(--brightYellow);
  border-radius: 0.3rem;
  color: white;
  padding: 0.6rem;
  font-weight: 900;
  margin-top: 1rem;
}
#btn:hover {
  background-color: var(--brightYellow);
  opacity: 0.8;
}
.bot-right {
  flex: 50%;
  height: 53%;
  background-color: var(--lightcyan);
  color: white;
  padding: 0 0 1.85rem 2.5rem;
  border-radius:0 0 0.5rem 0;
}
.bot-right > h2 {
  font-size: 1.3rem;
}
.bot-right > p {
  line-height: 1.2;
}

@media screen and(max-width:375px) {
 

  .bot-left {
    flex-direction: column;
  }
  .bot-right {
    flex-direction: column;
  }
}
